header {
    background-image: url(https://www.rabstol.net/uploads/gallery/main/135/rabstol_net_guitar_17.jpg);
    background-size: 80%;
    background-position: 50% 24%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;




}

.vkladky{
    background-color: black;
}
.vkladky img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
padding: 250px 0 0 50px;

    text-align: left;
    color: aliceblue;


}