
body{
      word-wrap: break-word; /* Перенос слов */ 
}


.vkladky{
    background-color: black;
}
.vkladky img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {

    align-items: flex-end;
}

header div {
    margin-top: 50px;

    display: flex;
  justify-content: space-between;
}


main{
    background-color: black;
}


h1{
    text-align: left;
    color: aliceblue;
   margin: 0 0;
   padding: 50px 0 0px 30px;
  }
  